
img{
    width: 50px;
  }
  .f5{
    width: 90%;
    height: 90%;


  }

  .f1{
    width: 90%;
    height: 90%;
   
  }
  .f2{
    width: 90%;
    height: 90%;
    
  }
  .f3{
    width: 100%;
    height: 100%;
   
  }
  .f4{
   width: 130%;
   height: 130%;
  
  }

  .oval1{
  width: 164px;
  height: 48px;
  margin-left: 10px;
  margin-top: 10px;

background: #F7EFDF;
border-radius: 20px
  }
  .oval2{
width: 164px;
height: 48px;
margin-left: 10px;
margin-top: 10px;

background: #F7EFDF;
border-radius: 20px;

  }
  .oval3{
width: 395px;
height: 48px;
margin-left: 10px;
margin-top: 10px;

background: #F7EFDF;
border-radius: 20px;
  }
  .oval4{
    width: 395px;
  height: 48px;
  margin-left: 10px;
  margin-top: 10px;

background: #F7EFDF;
border-radius: 20px;
  }


.hinh5{
  position: relative;
  top:120px;
  margin:auto;
  width: 500px;
}

  .hinh1{
   position:absolute;
   top:-100px;
   left: -150px;
  }
  .hinh2{
    position:absolute;
    top:-100px;
    left: 500px;
   }
   .hinh3{
    position:absolute;
    top:300px;
    left: -250px;
   }
   .hinh4{
    position:absolute;
    top:250px;
    left: 500px;
   }

 /* table */
 @media (max-width:420px) {
  
  .hinh5{
    
    position: relative;
    margin-top:-100px;
    
    width: 350px;
    
  }
  .hinh1{
    position:absolute;
    top:-70px;
    margin-left: 55px;
    width: 100px;
  }
    

    .hinh2{
      position:absolute;
      top:-70px;
     margin-left: -100px;
      width: 100px;
     }
     .hinh3{
      position:absolute;
      top:160px;
      margin-left: 55px;
      width: 100px;
     }
     .hinh4{
      position:absolute;
      top:140px;
      margin-left: -100px;
      width: 100px;
     }
    
  .f5{
    position: relative;
    width: 55%;
    height: 55%;

  }
  .f1{
    width: 100%;
   height: 60%;}
   .f2{
    width: 60%;
   height: 60%;}
   .f3{
    width: 70%;
   height: 70%;}
   .f4{
    width: 70%;
   height: 70%;
}
.oval1{
  width: 90px;
}
.oval2{
  width: 80px;
}
.oval3{
  width: 10px;
  height: 80px;
 

}
.oval4{
width: 10px;
height: 40px;
border-radius: 17px;
}}

   @media (max-width:1200px) {
    .hinh5{
      
      position: relative;
      top:50px;
      left: 100px;
    }
    .hinh1{
      position:absolute;
      top:-30px;
      left: -150px;}

      .hinh2{
        position:absolute;
        top:-30px;
        left: 350px;
       }
       .hinh3{
        position:absolute;
        top:200px;
        left: -200px;
       }
       .hinh4{
        position:absolute;
        top:200px;
        left: 330px;
       }
      
    .f5{
      position: relative;
      width: 70%;
      height: 70%;

    }
    .f1{
      width: 50%;
     height: 50%;}
     .f2{
      width: 60%;
     height: 60%;}
     .f3{
      width: 50%;
     height: 50%;}
     .f4{
      width: 60%;
     height: 60%;
  }

  .oval3{
    width: 300px;
    height: 40px;

}
.oval4{
width: 200px;
height: 80px;
border-radius: 17px;
}}


/* phone */
@media (max-width:791px) {
  #contenv{
    margin-left: -200px
  }
  .hinh5{
    position: relative;
    top:200px;
    left: 200px;
  }
  .hinh1{
    position:absolute;
    top:-70px;
    left: -150px;}

    .hinh2{
      position:absolute;
      top:-70px;
      left: 270px;
     }
     .hinh3{
      position:absolute;
      top:160px;
      left: -150px;
     }
     .hinh4{
      position:absolute;
      top:140px;
      left: 270px;
     }
    
  .f5{
    position: relative;
    width: 55%;
    height: 55%;

  }
  .f1{
    width: 60%;
   height: 60%;}
   .f2{
    width: 60%;
   height: 60%;}
   .f3{
    width: 70%;
   height: 70%;}
   .f4{
    width: 70%;
   height: 70%;
}

.oval3{
  width: 200px;
  height: 40px;

}
.oval4{
width: 200px;
height: 40px;
border-radius: 17px;
}}
  
    
    
    
  